@font-face {
    font-family: 'Neon';
    src: url(NeonAndroidItalic-L30r4.ttf);
}

body {
    background-color: black;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left top, left bottom, from(#8360c3), to(#2ebf91));
    border-radius: 100px;
}

h {
    font-family: "Neon";
    color: cyan;
    font-size: 60px;
    text-shadow: 0 0 42px blue;
    text-decoration: underline;
    text-decoration-color: white;
}

.add {
    position: relative;
    top: 35px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 0 7px cyan;
    background-color: black;
    width: 700px;
    height: 35px;
    padding-left: 15px;
}

.add:focus {
    color: white;
    box-shadow: 0 0 18px cyan;
    font-size: 20px;
    outline: none;
}

.add::placeholder {
    position: fixed;
    left: 22px;
    top: 9px;
    color: beige;
    font-size: 20px;
}

.plus {
    background: none;
    border: none;
    right: 420px;
    top: 120px;
    position: absolute;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.plus:hover {
    color: cyan;
}

.list1 {
    z-index: 1;
    position: relative;
    display: inline;
    font-family: 'Neon';
    color: white;
    left: 310px;
    margin: 65px;
}

.box {
    position: relative;
    border-radius: 20px;
    top: -47px;
    left: 362px;
    height: 460px;
    width: 995px;
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
    overflow: hidden;
}

.nav {
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 2px;
    width: 290px;
    height: 696px;
    background-image: linear-gradient(to top, #8360c3, #2ebf91);
    border-radius: 20px;
}

.vertical-menu {
    z-index: 3;
    position: absolute;
    top: 22px;
    left: 15px;
    width: 240px;
    background-color: transparent;
    border-radius: 20px;
}

.vertical-menu a {
    font-family: 'Neon';
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 7px;
}

.vertical-menu a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.vertical-menu a.active {
    background-color: black;
    color: white;
}

.button {
    font-family: 'Neon';
    font-size: 20px;
    color: white;
    position:absolute;
    top: 20px;
    right: 20px;
    text-decoration: underline;
}

.button:hover {
    color: cyan;
}

.task-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    font-family: 'Neon';
    color: white;
    font-size: 20px;
    padding: 5px;
}

.task-row.urgent {
    display: none;
}

.task {
    flex: 1;
    margin-bottom: -57px;
    padding: 48px;
}

.task-row.hidden {
    display: none;
}
.task-row.completed {
    display: none;
}

.task-row.completed.visible {
    display: flex;
}

.completed-checkbox {
    margin-top: 5px;
}

.date {
    flex: 0 0 207px;
    font-family: 'Neon';
    color: white;
    font-size: 20px;
    margin-bottom: -58px;
}

.completed {
    flex: 0 0 282px;
    padding: 5px 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    top: 22px;
}
.urgency {
    flex: 0 0 282px;
    padding: 5px 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    top: 22px;
}

.urgency p {
    margin: 14px; 
}

.checkbox-container {
    position: relative;
    top: -6px;
    margin-right: 10px;
}

.quotes {
    z-index: 3;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top: 532px;
    left: 5px;
    font-size: 24px;
    border: solid;
    border-radius: 20px;
    width: 282px;
    height: 159px;
}
.headsup {
    z-index: 3;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 465px;
    left: 63px;
    font-size: 30px;
    text-decoration: underline;
}
.quote-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 159px; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.quote-wrapper {
    display: flex;
    transition: transform 1s ease-in-out;
    position: absolute;
    top:11px;
}

.quote {
    flex: 0 0 100%;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px; 
}

.quote-author {
    position: absolute;
    bottom: 5px;
    right: 10px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.checkbox-container {
    position: relative;
    top: 4px; 
    margin-right: 10px;
}
